html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Helvetica Regular", sans-serif;
    font-size: 26px;
    position: fixed;
}
@font-face {
    font-family: "Helvetica Regular";
    src: url("/fonts/helvetica_regular.otf");
    font-size: 12px;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica Bold";
    src: url("/fonts/helvetica_bold.otf");
    font-size: 12px;
    font-weight: bold;
}

.fill-w {
    width: 100%;
}
.fill-h {
    height: 100%;
}
#bg-container {
    position: relative;
    /*transition: background .2s .2s ease-in;*/
    background-color: black;
    background-size: cover;
    background-position: center;
    background-image: url("../img/default-bg.png");
}
#shadows > *{
    z-index: 1;
    position: absolute;
}
#loader-wrapper {
    position: absolute;
    background-image: url("../img/black-bg-opacity-30.png");
}
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}
.stick-left {
    left: 0;
}
.stick-right {
    right: 0;
}
.stick-top {
    top: 0;
}
#interface{
    position: absolute;
    background-image: url("/img/black-bg-opacity-50.png");
}
.underline {
    position: relative;
    border-radius: 4px;
    background-color: #4ac0f2;
    /*-webkit-box-shadow: 0 6px 16px 0 rgba(74, 192, 242, 0.75);*/
}
.genre-container > .underline {
    height: 6px;
    bottom: 0;
}
.movie-card > .underline {
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -16px;
}
#genres-line {
    margin: 10px 0;
    height: 48px;
    color: #b3b3b3;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: visible;
    -webkit-transition: left .2s ease-out;
    transition: left .2s ease-out;
}
.genre-container {
    display: inline-block;
    padding: 0 16px;
}
.genre {
    display: inline-block;
    bottom: 0;
    color: #b3b3b3;
    margin: 0;
    height: 48px;
    line-height: 48px;
}
.active.genre {
    color: #e5e5e5;
}
.selected.genre {
    font-size: 36px;
    /*transform: scale(125%);*/
    /*transform-origin: 50% 30px;*/
    /*margin: 0 20px;*/
    font-weight: bold;
    text-transform: uppercase;
}
#movies-line {
    margin-top: 36px;
    white-space: nowrap;
    height: 250px;
    position: relative;
    /*height: 44.44%;*/
    -webkit-transition: left .05s ease-out;
    transition: left .1s ease-out;
}
.movie-card {
    position: relative;
    display: inline-block;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    height: 250px;
    width: 175px;
    margin: 35px 5px;
    /*-ms-interpolation-mode: bicubic;*/
    /*image-rendering: auto;*/
    /*transition: top .5s;*/
}
.selected.movie-card {
    position: relative;
    bottom: 0;
    height: 320px;
    width: 224px;
    /*transform: scale(130%) translateY(-50%);*/
    /*top: -35px;*/
    /*transform-origin: top;*/
    margin: 0 20px;
}
#movie-info-line {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 3%;
}
#player {
    position: absolute;
    width: 1280px;
    height: 720px;
    /*background-color: rgba(47,52,97,0.47);*/
    background-color: #000;
    z-index: 6;
}
h1 {
    font-size: 44px;
    font-family: "Helvetica Bold", sans-serif;
    margin: 16px 0 30px 0;
    color: #dddddc;
}
p {
    margin: auto;
    max-width: 90%;
    color: #dddddc;
}
.age-rating{
    font-family: "Helvetica Regular", sans-serif;
    padding: 1px 6px 4px 6px;
    color: #dddddc;
    border-color: #dddddc;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}
.star-icon {
    height: 21px;
    width: 22px;
    background-image: url("../img/rating-star-icon.png");
}